In [40]:
import pandas as pd

In [41]:
emp_survey = pd.read_csv('employee_survey_data.csv')
gen_data = pd.read_csv('general_data.csv')
in_time = pd.read_csv('in_time.csv')
man_survey = pd.read_csv('manager_survey_data.csv')
out_time = pd.read_csv('out_time.csv')

In [42]:
print(emp_survey)

      EmployeeID  EnvironmentSatisfaction  JobSatisfaction  WorkLifeBalance
0              1                      3.0              4.0              2.0
1              2                      3.0              2.0              4.0
2              3                      2.0              2.0              1.0
3              4                      4.0              4.0              3.0
4              5                      4.0              1.0              3.0
...          ...                      ...              ...              ...
4405        4406                      4.0              1.0              3.0
4406        4407                      4.0              4.0              3.0
4407        4408                      1.0              3.0              3.0
4408        4409                      4.0              1.0              3.0
4409        4410                      1.0              3.0              NaN

[4410 rows x 4 columns]

In [43]:
print(emp_survey.shape)

(4410, 4)

In [44]:
surv_list = [gen_data, man_survey]
newdf = pd.DataFrame(emp_survey)
for i in surv_list:
    newdf = newdf.merge(i, how='left', on=['EmployeeID', 'EmployeeID'])

In [45]:
print(newdf.shape)

(4410, 29)

In [46]:
newdf.shape

(4410, 29)

In [47]:
newdf.isnull

<bound method DataFrame.isnull of       EmployeeID  EnvironmentSatisfaction  JobSatisfaction  WorkLifeBalance
0              1                      3.0              4.0              2.0  \
1              2                      3.0              2.0              4.0
2              3                      2.0              2.0              1.0
3              4                      4.0              4.0              3.0
4              5                      4.0              1.0              3.0
...          ...                      ...              ...              ...
4405        4406                      4.0              1.0              3.0
4406        4407                      4.0              4.0              3.0
4407        4408                      1.0              3.0              3.0
4408        4409                      4.0              1.0              3.0
4409        4410                      1.0              3.0              NaN

      Age Attrition     BusinessTravel              Department
0      51        No      Travel_Rarely                   Sales  \
1      31       Yes  Travel_Frequently  Research & Development
2      32        No  Travel_Frequently  Research & Development
3      38        No         Non-Travel  Research & Development
4      32        No      Travel_Rarely  Research & Development
...   ...       ...                ...                     ...
4405   42        No      Travel_Rarely  Research & Development
4406   29        No      Travel_Rarely  Research & Development
4407   25        No      Travel_Rarely  Research & Development
4408   42        No      Travel_Rarely                   Sales
4409   40        No      Travel_Rarely  Research & Development

      DistanceFromHome  Education  ... PercentSalaryHike  StandardHours
0                    6          2  ...                11              8  \
1                   10          1  ...                23              8
2                   17          4  ...                15              8
3                    2          5  ...                11              8
4                   10          1  ...                12              8
...                ...        ...  ...               ...            ...
4405                 5          4  ...                17              8
4406                 2          4  ...                15              8
4407                25          2  ...                20              8
4408                18          2  ...                14              8
4409                28          3  ...                12              8

     StockOptionLevel  TotalWorkingYears TrainingTimesLastYear YearsAtCompany
0                   0                1.0                     6              1  \
1                   1                6.0                     3              5
2                   3                5.0                     2              5
3                   3               13.0                     5              8
4                   2                9.0                     2              6
...               ...                ...                   ...            ...
4405                1               10.0                     5              3
4406                0               10.0                     2              3
4407                0                5.0                     4              4
4408                1               10.0                     2              9
4409                0                NaN                     6             21

      YearsSinceLastPromotion  YearsWithCurrManager JobInvolvement
0                           0                     0              3  \
1                           1                     4              2
2                           0                     3              3
3                           7                     5              2
4                           0                     4              3
...                       ...                   ...            ...
4405                        0                     2              3
4406                        0                     2              2
4407                        1                     2              3
4408                        7                     8              2
4409                        3                     9              4

      PerformanceRating
0                     3
1                     4
2                     3
3                     3
4                     3
...                 ...
4405                  3
4406                  3
4407                  4
4408                  3
4409                  3

[4410 rows x 29 columns]>

In [48]:
newdf['Education']

0       2
1       1
2       4
3       5
4       1
       ..
4405    4
4406    4
4407    2
4408    2
4409    3
Name: Education, Length: 4410, dtype: int64

In [49]:
newdf.columns.values.tolist()

['EmployeeID',
 'EnvironmentSatisfaction',
 'JobSatisfaction',
 'WorkLifeBalance',
 'Age',
 'Attrition',
 'BusinessTravel',
 'Department',
 'DistanceFromHome',
 'Education',
 'EducationField',
 'EmployeeCount',
 'Gender',
 'JobLevel',
 'JobRole',
 'MaritalStatus',
 'MonthlyIncome',
 'NumCompaniesWorked',
 'Over18',
 'PercentSalaryHike',
 'StandardHours',
 'StockOptionLevel',
 'TotalWorkingYears',
 'TrainingTimesLastYear',
 'YearsAtCompany',
 'YearsSinceLastPromotion',
 'YearsWithCurrManager',
 'JobInvolvement',
 'PerformanceRating']

In [50]:
newdf['Education'].value_counts()

Education
3    1716
4    1194
2     846
1     510
5     144
Name: count, dtype: int64

In [51]:
newdf['Education'].map({1: 'Below College', 2: 'College', 3:'Bachelors', 4:'Masters', 5:'Doctor'})

0             College
1       Below College
2             Masters
3              Doctor
4       Below College
            ...
4405          Masters
4406          Masters
4407          College
4408          College
4409        Bachelors
Name: Education, Length: 4410, dtype: object

In [52]:
newdf.isnull().sum().sort_values(ascending=False)

WorkLifeBalance            38
EnvironmentSatisfaction    25
JobSatisfaction            20
NumCompaniesWorked         19
TotalWorkingYears           9
EmployeeID                  0
MonthlyIncome               0
JobInvolvement              0
YearsWithCurrManager        0
YearsSinceLastPromotion     0
YearsAtCompany              0
TrainingTimesLastYear       0
StockOptionLevel            0
StandardHours               0
PercentSalaryHike           0
Over18                      0
JobRole                     0
MaritalStatus               0
JobLevel                    0
Gender                      0
EmployeeCount               0
EducationField              0
Education                   0
DistanceFromHome            0
Department                  0
BusinessTravel              0
Attrition                   0
Age                         0
PerformanceRating           0
dtype: int64

In [53]:
newdf['WorkLifeBalance'].dtype

dtype('float64')

In [54]:
newdf['WorkLifeBalance'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 4410 entries, 0 to 4409
Series name: WorkLifeBalance
Non-Null Count  Dtype
--------------  -----
4372 non-null   float64
dtypes: float64(1)
memory usage: 34.6 KB

In [55]:
newdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4410 entries, 0 to 4409
Data columns (total 29 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   EmployeeID               4410 non-null   int64
 1   EnvironmentSatisfaction  4385 non-null   float64
 2   JobSatisfaction          4390 non-null   float64
 3   WorkLifeBalance          4372 non-null   float64
 4   Age                      4410 non-null   int64
 5   Attrition                4410 non-null   object
 6   BusinessTravel           4410 non-null   object
 7   Department               4410 non-null   object
 8   DistanceFromHome         4410 non-null   int64
 9   Education                4410 non-null   int64
 10  EducationField           4410 non-null   object
 11  EmployeeCount            4410 non-null   int64
 12  Gender                   4410 non-null   object
 13  JobLevel                 4410 non-null   int64
 14  JobRole                  4410 non-null   object
 15  MaritalStatus            4410 non-null   object
 16  MonthlyIncome            4410 non-null   int64
 17  NumCompaniesWorked       4391 non-null   float64
 18  Over18                   4410 non-null   object
 19  PercentSalaryHike        4410 non-null   int64
 20  StandardHours            4410 non-null   int64
 21  StockOptionLevel         4410 non-null   int64
 22  TotalWorkingYears        4401 non-null   float64
 23  TrainingTimesLastYear    4410 non-null   int64
 24  YearsAtCompany           4410 non-null   int64
 25  YearsSinceLastPromotion  4410 non-null   int64
 26  YearsWithCurrManager     4410 non-null   int64
 27  JobInvolvement           4410 non-null   int64
 28  PerformanceRating        4410 non-null   int64
dtypes: float64(5), int64(16), object(8)
memory usage: 999.3+ KB

In [57]:
newdf['EnvironmentSatisfaction'] = newdf['EnvironmentSatisfaction'].map({1: 'Low', 2: 'Medium', 3:'High', 4:'Very High'})

In [58]:
newdf['EnvironmentSatisfaction'].value_counts()

EnvironmentSatisfaction
High         1350
Very High    1334
Medium        856
Low           845
Name: count, dtype: int64

In [59]:
newdf['PerformanceRating'] = newdf['PerformanceRating'].map({1:'Low', 2:'Good', 3:'Excellent', 4:'Outstanding'})

In [62]:
newdf['PerformanceRating'].value_counts()

PerformanceRating
Excellent      3732
Outstanding     678
Name: count, dtype: int64

In [63]:
newdf['RelationshipSatisfaction'] = newdf['PerformanceRating'].map({1:'Low', 2:'Medium', 3:'High', 4:'Very High'})

In [64]:
newdf['WorkLifeBalance'] = newdf['WorkLifeBalance'].map({1:'Bad', 2:'Good', 3:'Better', 4:'Best'})