In [1]:
import pandas as pd

In [2]:
#1. Import pandas and any other necessary libraries
#2. Read 'BigMartSalesData.csv' as a dataframe called sales
#3. Check the head of the dataframe
#4. Check the tail of dataframe
#5. Check the info of the data
#6. Check if there null values in the data
#7. Convert the CustomerID to a string and print the type
#8. Convert the InvoiceDate to datatime type and print the type
#9. Convert the month column to the name of the month and print the months
#10. What is the average unit price?
#11. What is the highest amount ever paid for an order?
#12. Find the top 5 customers who have spent the most amount.
#13. Find the bottom 5 customer who have spent the most amount.
#14. How many orders were made in 2010 and 2011 respectively.
#15. How many customers ordered just once?

In [3]:
#2
sales = pd.read_csv('BigMartSalesData.csv')

In [4]:
#3
sales.head()

,InvoiceNo,StockCode,Description,Quantity,UnitPrice,Amount,InvoiceDate,Day,Month,Year,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2.55,15.30,01-12-10,1,12,2010,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,3.39,20.34,01-12-10,1,12,2010,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2.75,22.00,01-12-10,1,12,2010,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,3.39,20.34,01-12-10,1,12,2010,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,3.39,20.34,01-12-10,1,12,2010,17850.0,United Kingdom

In [5]:
#4
sales.tail()

,InvoiceNo,StockCode,Description,Quantity,UnitPrice,Amount,InvoiceDate,Day,Month,Year,CustomerID,Country
541869,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,0.85,10.20,09-12-11,9,12,2011,12680.0,France
541870,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2.10,12.60,09-12-11,9,12,2011,12680.0,France
541871,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,4.15,16.60,09-12-11,9,12,2011,12680.0,France
541872,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,4.15,16.60,09-12-11,9,12,2011,12680.0,France
541873,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,4.95,14.85,09-12-11,9,12,2011,12680.0,France

In [6]:
#5
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541874 entries, 0 to 541873
Data columns (total 12 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541874 non-null  object
 1   StockCode    541874 non-null  object
 2   Description  540422 non-null  object
 3   Quantity     541874 non-null  int64
 4   UnitPrice    541874 non-null  float64
 5   Amount       541874 non-null  float64
 6   InvoiceDate  541874 non-null  object
 7   Day          541874 non-null  int64
 8   Month        541874 non-null  int64
 9   Year         541874 non-null  int64
 10  CustomerID   406829 non-null  float64
 11  Country      541874 non-null  object
dtypes: float64(3), int64(4), object(5)
memory usage: 49.6+ MB

In [7]:
#6
sales.isna().sum()

InvoiceNo           0
StockCode           0
Description      1452
Quantity            0
UnitPrice           0
Amount              0
InvoiceDate         0
Day                 0
Month               0
Year                0
CustomerID     135045
Country             0
dtype: int64

In [8]:
sales.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1452
Quantity            0
UnitPrice           0
Amount              0
InvoiceDate         0
Day                 0
Month               0
Year                0
CustomerID     135045
Country             0
dtype: int64

In [9]:
#7. Convert the CustomerID to a string and print the type
sales['CustomerID'] = sales['CustomerID'].astype(str)

In [10]:
sales['CustomerID'].dtype

dtype('O')

In [11]:
#8. Convert the InvoiceDate to datatime type and print the type
sales['InvoiceDate'] = pd.to_datetime(sales['InvoiceDate'])

In [12]:
sales['InvoiceDate'].dtype

dtype('<M8[ns]')

In [13]:
#9. Convert the month column to the name of the month and print the months
months = {1:'January', 2:'February', 3:'March', 4:'April', 5:'May', 6:'June', 7:'July', 8:'August', 9:'September', 10:'October', 11:'November', 12:'December'}
sales['Month'] = sales['Month'].map(months)

In [14]:
sales['Month'].value_counts()

November     84711
December     68003
October      60741
September    50225
July         39517
May          37026
June         36868
March        36747
August       35276
January      35144
April        29912
February     27704
Name: Month, dtype: int64

In [15]:
sales['Month']

0         December
1         December
2         December
3         December
4         December
            ...
541869    December
541870    December
541871    December
541872    December
541873    December
Name: Month, Length: 541874, dtype: object

In [16]:
#10. What is the average unit price?
avg_price = sales['UnitPrice'].mean()
avg_price

4.6100381896898535

In [17]:
#11. What is the highest amount ever paid for an order?
max_price = sales['Amount'].max()
max_price

168469.6

In [18]:
#12. Find the top 5 customers who have spent the most amount.

top5 = sales.groupby('CustomerID')['Amount'].sum().sort_values(ascending=False).head(6)
top5 = top5.iloc[1:]
top5

CustomerID
16446.0    336942.10
14646.0    280923.02
18102.0    262876.11
17450.0    201619.41
14911.0    155077.50
Name: Amount, dtype: float64

In [19]:
#13. Find the bottom 5 customer who have spent the most amount.
bottom5 = sales.groupby('CustomerID')['Amount'].sum().sort_values(ascending=True).head(6)
bottom5 = bottom5.iloc[1:]
bottom5

CustomerID
16995.0    1.25
14679.0    2.55
16428.0    2.95
16738.0    3.75
12943.0    3.75
Name: Amount, dtype: float64

In [20]:
sales['InvoiceDate'].head()

0   2010-01-12
1   2010-01-12
2   2010-01-12
3   2010-01-12
4   2010-01-12
Name: InvoiceDate, dtype: datetime64[ns]

In [23]:
#14. How many orders were made in 2010 and 2011 respectively.
orders2010 = sales[(sales['InvoiceDate'] > '2010-01-01') & (sales['InvoiceDate'] < '2010-12-31')].value_counts()
orders2010
#41854

InvoiceNo  StockCode  Description                         Quantity  UnitPrice  Amount  InvoiceDate  Day  Month     Year  CustomerID  Country
538514     21756      BATH BUILDING BLOCK WORD            1         5.95       5.95    2010-12-12   12   December  2010  15044.0     United Kingdom    6
538517     22749      FELTCRAFT PRINCESS CHARLOTTE DOLL   1         3.75       3.75    2010-12-12   12   December  2010  17618.0     United Kingdom    5
537224     70007      HI TEC ALPINE HAND WARMER           1         1.65       1.65    2010-05-12   5    December  2010  13174.0     United Kingdom    5
538849     22073      RED RETROSPOT STORAGE JAR           1         3.75       3.75    2010-12-14   14   December  2010  14415.0     United Kingdom    3
539484     22941      CHRISTMAS LIGHTS 10 REINDEER        1         8.50       8.50    2010-12-19   19   December  2010  15640.0     United Kingdom    3
                                                                                                                                                      ..
537604     22567      20 DOLLY PEGS RETROSPOT             48        1.06       50.88   2010-07-12   7    December  2010  13488.0     United Kingdom    1
           22568      FELTCRAFT CUSHION OWL               4         3.75       15.00   2010-07-12   7    December  2010  13488.0     United Kingdom    1
           22569      FELTCRAFT CUSHION BUTTERFLY         4         3.75       15.00   2010-07-12   7    December  2010  13488.0     United Kingdom    1
           22570      FELTCRAFT CUSHION RABBIT            4         3.75       15.00   2010-07-12   7    December  2010  13488.0     United Kingdom    1
C539983    82483      WOOD 2 DRAWER CABINET WHITE FINISH  6         4.95       29.70   2010-12-23   23   December  2010  15856.0     United Kingdom    1
Length: 41854, dtype: int64

In [25]:
orders2011 = sales[(sales['InvoiceDate'] > '2011-01-01') & (sales['InvoiceDate'] < '2011-12-31')].value_counts()
orders2011
#493299

InvoiceNo  StockCode  Description                          Quantity  UnitPrice  Amount  InvoiceDate  Day  Month     Year  CustomerID  Country
555524     22698      PINK REGENCY TEACUP AND SAUCER       1         2.95       2.95    2011-05-06   5    June      2011  16923.0     United Kingdom    20
           22697      GREEN REGENCY TEACUP AND SAUCER      1         2.95       2.95    2011-05-06   5    June      2011  16923.0     United Kingdom    12
572861     22775      PURPLE DRAWERKNOB ACRYLIC EDWARDIAN  12        1.25       15.00   2011-10-26   26   October   2011  14102.0     United Kingdom     8
572344     M          Manual                               48        1.50       72.00   2011-10-24   24   October   2011  14607.0     United Kingdom     6
578289     23395      BELLE JARDINIERE CUSHION COVER       1         3.75       3.75    2011-11-23   23   November  2011  17841.0     United Kingdom     6
                                                                                                                                                        ..
555499     22697      GREEN REGENCY TEACUP AND SAUCER      2         2.95       5.90    2011-03-06   3    June      2011  15812.0     United Kingdom     1
           22606      WOODEN SKITTLES GARDEN SET           1         15.95      15.95   2011-03-06   3    June      2011  15812.0     United Kingdom     1
           22605      WOODEN CROQUET GARDEN SET            1         14.95      14.95   2011-03-06   3    June      2011  15812.0     United Kingdom     1
           22423      REGENCY CAKESTAND 3 TIER             1         12.75      12.75   2011-03-06   3    June      2011  15812.0     United Kingdom     1
C581569    84978      HANGING HEART JAR T-LIGHT HOLDER     1         1.25       1.25    2011-09-12   9    December  2011  17315.0     United Kingdom     1
Length: 493299, dtype: int64

In [37]:
#15. How many customers ordered just once?
customer_counts = sales['CustomerID'].value_counts()
single_order = sales[sales['CustomerID'].isin(customer_counts[customer_counts == 1].index)]
single_order.value_counts()
#79 Customers with 1 order

InvoiceNo  StockCode  Description                         Quantity  UnitPrice  Amount  InvoiceDate  Day  Month      Year  CustomerID  Country
536393     22180      RETROSPOT LAMP                      8         9.95       79.60   2010-01-12   1    December   2010  13747.0     United Kingdom    1
571432     84949      SILVER HANGING T-LIGHT HOLDER       288       1.45       417.60  2011-10-17   17   October    2011  16737.0     United Kingdom    1
578841     84826      ASSTD DESIGN 3D PAPER STICKERS      12540     0.00       0.00    2011-11-25   25   November   2011  13256.0     United Kingdom    1
578622     15036      ASSORTED COLOURS SILK FAN           60        0.83       49.80   2011-11-24   24   November   2011  18184.0     United Kingdom    1
577897     23328      SET 6 SCHOOL MILK BOTTLES IN CRATE  48        6.71       322.08  2011-11-22   22   November   2011  14424.0     United Kingdom    1
                                                                                                                                                       ..
548862     22485      SET OF 2 WOODEN MARKET CRATES       1         12.75      12.75   2011-04-04   4    April      2011  17956.0     United Kingdom    1
548623     16016      LARGE CHINESE STYLE SCISSOR         100       0.85       85.00   2011-01-04   1    April      2011  13841.0     United Kingdom    1
547415     22236      CAKE STAND 3 TIER MAGIC GARDEN      2         12.75      25.50   2011-03-23   23   March      2011  17102.0     United Kingdom    1
547207     75049L     LARGE CIRCULAR MIRROR MOBILE        12        1.25       15.00   2011-03-21   21   March      2011  17763.0     United Kingdom    1
C567358    22699      ROSES REGENCY TEACUP AND SAUCER     1         2.95       2.95    2011-09-19   19   September  2011  16428.0     United Kingdom    1
Length: 79, dtype: int64